@model IEnumerable<MadMagnets.Models.Magnet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<style>
    .table{
        color: white;
    }
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Magnets" asp-action="Index" method="get">
    <p>
        Materials: <input type= "text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Use)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.DiscoveryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Use)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.DiscoveryDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
